.box_daddy_form {
  display: flex;
  justify-content:space-evenly;
}

.auth_google{
    height: 2rem;
    width: 40%
}

.icons_google_aut{
    width: 1.4rem;
    margin-bottom: 4px;
}

.form_login {
    width: 48%; /* Ajusta el ancho del formulario según tus necesidades */
    margin: auto; /* Centra el formulario horizontalmente en el contenedor */
  }

  .vertical_line {
    height: 70%; /* Establecer la altura de la línea igual al contenedor */
    border-left: 2.5px solid #ccc; /* Establecer el estilo de línea vertical */
    margin: 0 20px; /* Ajustar el margen horizontal según sea necesario */
  }